[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = https://github.com/zeux/volk.git
        branch = vulkan-sdk-1.4.321
[submodule "thirdparty/miniz"]
	path = thirdparty/miniz
	url = https://github.com/richgel999/miniz
[submodule "thirdparty/Vulkan-Headers"]
	path = thirdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
        branch = vulkan-sdk-1.4.321
